<footer class="footer-background">
  <a href="#" class="js-accordion-toggle-mobile row">
    <div class="font-small text-uppercase font-weight-bold col p-3">Departamentos</div>
  </a>
  <div class="js-accordion-content js-accordion-content-mobile">
    <ul class="list py-2 font-small">
      <li class="footer-menu-item">
        <a class="footer-menu-link" routerLink="/">Início</a>
      </li>
      <li class="footer-menu-item">
        <a class="footer-menu-link" routerLink="/produtos">Produtos</a>
      </li>
      <li class="footer-menu-item">
        <a class="footer-menu-link" routerLink="/contato">Contato</a>
      </li>
      <li class="footer-menu-item">
        <a class="footer-menu-link" routerLink="/privacidade">Política de Privacidade</a>
      </li>
    </ul>
  </div>
  <a href="#" class="js-accordion-toggle-mobile row">
    <div class="font-small text-uppercase font-weight-bold col p-3">Contatos</div>
  </a>
  <div class="js-accordion-content js-accordion-content-mobile">
    <ul class="list py-2 font-small">
      <li class="footer-menu-item">
        <a href="https://wa.me/5592986128349" class="contact-link"> 5592986128349 </a>
      </li>
      <li class="footer-menu-item">
        <a
          href="/cdn-cgi/l/email-protection#93fffcf9f2e6fdfae5f6e1e0fcf0fbe1fae0d3f4fef2faffbdf0fcfe"
          class="contact-link"
          >lojauniversochris@gmail.com</a
        >
      </li>
      <li class="footer-menu-item">Rua Preste João, Japiim 1. Casa 137. Manaus, Amazonas.</li>
    </ul>
  </div>

  <div class="js-footer-legal footer-legal">
    <div class="container">
      <div class="row align-items-center text-center text-md-left">
        <div class="col-md font-smallest">
          <div class="d-inline-block mr-md-2">
            Copyright Universo Chris - 51607556000181 - 2025. Todos os direitos reservados.
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
