<app-header></app-header>

<section class="carrossel-home">
  <div class="carousel-container">
    <div
      *ngFor="let banner of banners; let i = index"
      class="carousel-slide fade"
      [class.active]="currentSlide === i"
    >
      <img [src]="banner.src" [alt]="banner.alt" />
    </div>
  </div>
</section>

<!--  HERO  -->
<section class="hero">
  <h2>✨ Bem-vindo ao Universo Chris ✨</h2>
  <p>
    Aqui a criatividade ganha vida! Explore nossa papelaria e encontre produtos fofos, funcionais e
    cheios de personalidade para deixar seu dia a dia mais organizado e divertido.
  </p>
</section>

<!--  DESTAQUES  -->
<section class="destaques">
  <div class="container">
    <h3 class="section-title">Destaques</h3>
    <div class="carousel">
      <button class="carousel-btn prev" (click)="prevCarousel('destaques')">&#10094;</button>

      <div #carouselTrack class="carousel-track">
        <!-- Card 1 -->
        <div class="card" *ngFor="let produto of produtosDestaques">
          <a href="/product" class="clickable-area">
            <img [src]="produto.imagem" [alt]="produto.nome" />
          </a>
          <a [routerLink]="['/produto']" class="clickable-area">
            <h4>{{ produto.nome }}</h4>
          </a>
          <p class="price">
            <span class="discount" *ngIf="produto.desconto">{{ produto.desconto }}</span>
            R${{ produto.preco }}
            <span class="old-price" *ngIf="produto.precoOriginal"
              >R${{ produto.precoOriginal }}</span
            >
          </p>
          <span class="stock">{{ produto.estoque }} em estoque</span>
        </div>
      </div>

      <button class="carousel-btn next" (click)="nextCarousel('destaques')">&#10095;</button>
    </div>
  </div>
</section>

<!--  CATEGORIAS  -->
<section class="categorias">
  <div class="container">
    <h3 class="section-title">Coleções</h3>

    <div class="categorias-grid">
      <div class="categoria-card" *ngFor="let categoria of categorias">
        <img [src]="categoria.imagem" [alt]="categoria.nome" />
        <div class="categoria-info">
          <h4>{{ categoria.nome }}</h4>
          <a [routerLink]="categoria.link" class="btn">VER PRODUTOS</a>
        </div>
      </div>
    </div>
  </div>
</section>

<!--  MAIS VENDIDOS  -->
<section class="mais-vendidos">
  <div class="container">
    <h3 class="section-title">Mais vendidos</h3>

    <div class="carousel">
      <button class="carousel-btn prev" (click)="prevCarousel('maisVendidos')">&#10094;</button>

      <div #carouselTrack class="carousel-track">
        <div class="card" *ngFor="let produto of produtosMaisVendidos">
          <a href="/product" class="clickable-area">
            <img [src]="produto.imagem" [alt]="produto.nome" />
          </a>
          <a href="/product" class="clickable-area">
            <h4>{{ produto.nome }}</h4>
          </a>
          <p class="price">R${{ produto.preco }}</p>
          <span class="stock">{{ produto.estoque }} em estoque</span>
        </div>
      </div>

      <button class="carousel-btn next" (click)="nextCarousel('maisVendidos')">&#10095;</button>
    </div>
  </div>
</section>

<!--  LANÇAMENTOS  -->
<section class="lancamentos">
  <div class="container">
    <h3 class="section-title">Lançamentos</h3>

    <div class="carousel">
      <button class="carousel-btn prev" (click)="prevCarousel('lancamentos')">&#10094;</button>

      <div #carouselTrack class="carousel-track">
        <div class="card" *ngFor="let produto of produtosLancamentos">
          <a href="/product" class="clickable-area">
            <img [src]="produto.imagem" [alt]="produto.nome" />
          </a>
          <a href="/product" class="clickable-area">
            <h4>{{ produto.nome }}</h4>
          </a>
          <p class="price">R${{ produto.preco }}</p>
          <span class="stock">{{ produto.estoque }} em estoque</span>
        </div>
      </div>

      <button class="carousel-btn next" (click)="nextCarousel('lancamentos')">&#10095;</button>
    </div>
  </div>
</section>

<!-- OFERTAS -->
<section class="ofertas">
  <div class="container">
    <h3 class="section-title">Ofertas</h3>

    <div class="carousel">
      <button class="carousel-btn prev" (click)="prevCarousel('ofertas')">&#10094;</button>

      <div #carouselTrack class="carousel-track">
        <div class="card" *ngFor="let produto of produtosOfertas">
          <a href="/product" class="clickable-area">
            <img [src]="produto.imagem" [alt]="produto.nome" />
          </a>
          <a href="/product" class="clickable-area">
            <h4>{{ produto.nome }}</h4>
          </a>
          <p class="price">
            <span class="discount">{{ produto.desconto }}</span>
            R${{ produto.preco }}
            <span class="old-price">R${{ produto.precoOriginal }}</span>
          </p>
          <span class="stock">{{ produto.estoque }} em estoque</span>
        </div>
      </div>

      <button class="carousel-btn next" (click)="nextCarousel('ofertas')">&#10095;</button>
    </div>
  </div>
</section>

<app-footer></app-footer>
