spring:
  datasource:
    url: jdbc:mysql://localhost:3306/universocris?useSSL=false&serverTimezone=UTC
    username: "root"
    password: "Mysql12sadW-erCiEric"
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.MySQL8Dialect
